<div class="container">
  <div class="login-form">
    <form>
      <!--Email Input -->
      <div class="mb-3">
        <label for="email"
               class="label-form">
          Email
        </label>
        <input type="email"
               class="form-control"
               id="email"
               placeholder=email>
      </div>
      <!--Password input-->
      <div class="mb-3">
        <label for="password"
               class="label-form">
          Password
        </label>
        <input type="password"
               class="form-control"
               id="password"
               placeholder="password">
        <!--      <div id="password-help-block"-->
        <!--           class="form-text">-->
        <!--        Password needs to be 8 characters long-->
        <!--      </div>-->
      </div>
      <!--Password input-->
      <div class="mb-3">
        <label for="confirmPassword"
               class="label-form">
          Confirm Password
        </label>
        <input type="password"
               class="form-control"
               id="confirmPassword"
               placeholder="password">
        <!--      <div id="password-help-block"-->
        <!--           class="form-text">-->
        <!--        Password needs to be 8 characters long-->
        <!--      </div>-->
      </div>
      <!--Firstname input-->
      <div class="mb-3">
        <label for="firstname"
               class="label-form">
          First name
        </label>
        <input type="text"
               class="form-control"
               id="firstname"
               placeholder="first name">
        <!--      <div id="password-help-block"-->
        <!--           class="form-text">-->
        <!--        Password needs to be 8 characters long-->
        <!--      </div>-->
      </div>
      <!--lastname input-->
      <div class="mb-3">
        <label for="lastname"
               class="label-form">
          Last name
        </label>
        <input type="text"
               class="form-control"
               id="lastname"
               placeholder="last name">
        <!--      <div id="password-help-block"-->
        <!--           class="form-text">-->
        <!--        Password needs to be 8 characters long-->
        <!--      </div>-->
      </div>
      <!--Phone number -->
      <div class="mb-3">
        <label for="phone"
               class="label-form">
          Phone
        </label>
        <input type="tel"
               class="form-control"
               id="phone"
               placeholder="phone">
      </div>
      <!--Checkbox -->
      <!--    <div class="mb-3 form-check">-->
      <!--      <input type="checkbox"-->
      <!--             class="form-check-input"-->
      <!--             id="checkbox">-->
      <!--      <label class="form-check-label"-->
      <!--             for="checkbox">-->
      <!--        Check me!-->
      <!--      </label>-->
      <!--    </div>-->
      <!-- Submit Button -->
      <button type="submit"
              class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>

