
.container{
  width:100%;
  margin-top:50px;
  display:flex;
  justify-content: center;
}
.login-form{
  width:50%;
}

.label-form{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
}

button{
  margin-top: 10px;
}

.mt-10{
  margin-top: 10px;
}
