 <div class="container">
  <div class="login-form">
  <form [formGroup]="userForm">
    <!--Email Input -->
    <div class="mb-3">
      <label for="email"
             class="label-form">
        Email
      </label>
      <input type="email"
             class="form-control"
             id="email"
             placeholder="email"
             formControlName="email">
    </div>
    <!--Password input-->
    <div class="mb-3">
      <label for="password"
             class="label-form">
        Password
      </label>
      <input type="password"
             class="form-control"
             id="password"
             placeholder="password"
             formControlName="password">
      <div *ngIf="!isValid() || !valid;" id="password-help-block" style="color:red;"
           class="form-text">
        Email and password are required.
      </div>
      <div *ngIf="!userNotExist();"  style="color:red;"
           class="form-text">
        Email or password is wrong.
      </div>
    </div>
    <!--Checkbox -->
<!--    <div class="mb-3 form-check">-->
<!--      <input type="checkbox"-->
<!--             class="form-check-input"-->
<!--             id="checkbox">-->
<!--      <label class="form-check-label"-->
<!--             for="checkbox">-->
<!--        Check me!-->
<!--      </label>-->
<!--    </div>-->
    <!-- Submit Button -->
    <button type="submit"
            class="btn btn-primary"
    (click)="login()">
      Submit
    </button>
  </form>
  </div>
</div>
