 <div class="container">
  <div class="login-form">
  <form>
    <!--Email Input -->
    <div class="mb-3">
      <label for="email"
             class="label-form">
        Email address:
      </label>
      <input type="email"
             class="form-control"
             id="email"
             placeholder="Enter your email id">
    </div>
    <!--Password input-->
    <div class="mb-3">
      <label for="password"
             class="label-form">
        Password:
      </label>
      <input type="password"
             class="form-control"
             id="password"
             placeholder="Enter your password">
<!--      <div id="password-help-block"-->
<!--           class="form-text">-->
<!--        Password needs to be 8 characters long-->
<!--      </div>-->
    </div>
    <!--Checkbox -->
<!--    <div class="mb-3 form-check">-->
<!--      <input type="checkbox"-->
<!--             class="form-check-input"-->
<!--             id="checkbox">-->
<!--      <label class="form-check-label"-->
<!--             for="checkbox">-->
<!--        Check me!-->
<!--      </label>-->
<!--    </div>-->
    <!-- Submit Button -->
    <button type="submit"
            class="btn btn-primary">
      Submit
    </button>
  </form>
  </div>
</div>
