
.container{
  margin-top:50px;
  display:flex;
  justify-content: center;
}
.login-form{
  width:50%;
  padding:20px;
  background-color: azure;
}

.label-form{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}

button{
  margin-top: 10px;
}
