<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a >My App</a>
    </header>
    <ul class="nav">
      <li>
        <a [routerLink]="['dashboard']">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a [routerLink]="['vacancies']">
          <i class="zmdi zmdi-case"></i> Vacancies
        </a>
      </li>
      <li>
        <a [routerLink]="['trainings']">
          <i class="zmdi zmdi-laptop-chromebook"></i> Trainings
        </a>
      </li>
      <li>
        <a [routerLink]="['projects']" >
          <i class="zmdi zmdi-book"></i> Projects
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nav navbar-nav navbar-right" style="width:120px">
          <p>
            <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              User
            </a>
          </p>
          <div class="collapse" id="collapseExample" style="position:absolute; padding:12px;">
            <div class="card card-body" style="padding:10px; border:1px solid #e7e7e7; background-color:white; color:#000000">
              <p><a [routerLink]="['profile']"><i class="zmdi zmdi-account-circle"></i> Profile</a></p>
              <p><button (click)="logout()">Log out</button></p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>

