<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="/dashboard">My App</a>
    </header>
    <ul class="nav">
      <li>
        <a href="/dashboard">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-chart"></i> Statistics
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-map"></i> Live Map
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-city"></i> Companies
        </a>
      </li>
      <li>
        <a href="/new-orders">
          <i class="zmdi zmdi-pizza"></i> New Orders
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-pizza"></i> In Process Orders
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-pizza"></i> Rejected Orders
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-pizza"></i> Completed Orders
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nav navbar-nav navbar-right" style="width:120px">
          <p>
            <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              User
            </a>
          </p>
          <div class="collapse" id="collapseExample" style="position:absolute; padding:12px;">
            <div class="card card-body" style="padding:10px; border:1px solid #e7e7e7; background-color:white; color:#000000">
              <p><a href="/profile"><i class="zmdi zmdi-account-circle"></i> Profile</a></p>
              <p><a href="#">Log out</a></p>
            </div>
          </div>
        </div>
      </div>
    </nav>
   <ng-content></ng-content>
  </div>
</div>

