<div class="container-fluid">
    <table class="table">
      <thead>
      <tbody>
      <tr>
        <td>Images</td>
        <td>Restaurant name/ order date</td>
        <td>price</td>
        <td><a  class="btn btn-success">More</a></td>
      </tr>
      <tr>
        <td>Image</td>
        <td>Restaurant name/ order date</td>
        <td>price</td>
        <td><a  class="btn btn-success">More</a></td>
      </tr>
      <tr>
        <td>Image</td>
        <td>Restaurant name/ order date</td>
        <td>price</td>
        <td><a  class="btn btn-success">More</a></td>
      </tr>
      </tbody>
    </table>
  </div>
